## Final Project Submission

Please fill out:
* Student name: JAMES SAVORY
* Student pace: self paced / part time / full time: PART TIME
* Scheduled project review date/time: APRIL 5, 2019 
* Instructor name: BRANDON LEWIS
* Blog post URL:

# Obtaining and Scrubbing the data

### Import Libraries, Data

In [165]:
import pandas as pd
import numpy as np
import random

pd.set_option('display.max_columns', 21)
df = pd.read_csv("kc_house_data.csv")

### Manage Null, NaN Values

In [166]:
df.isna().sum()

#---Waterfront---
df.groupby('waterfront')['id'].nunique()
df['waterfront'].isna().sum()
df['waterfront'].replace(np.NaN, 0,inplace=True) #Replace NaNs with most common value (0)

#---View---
bins = [0,1,2,3,4]
df.groupby('view')['id'].nunique()

def generate_dummy_view_data():
    zero_count = 19253
    one_count = 329
    two_count = 956
    three_count = 505
    four_count = 314
    
    total = zero_count + one_count + two_count + three_count + four_count
    zero_probability = zero_count/total
    one_probability = one_count/total
    two_probability = two_count/total
    three_probability= three_count/total
    four_probability= four_count/total
    #probability_dict = print(f'zero_prob:{zero_probability}, one_prob:{one_probability}, two_pro:{two_probability}, three_prob:{three_probability}, four_prob:{four_probability}')
    
    random_num = random.uniform(0,1)
    
    if random_num < four_probability:
        return 4
    elif random_num >= four_probability and random_num < one_probability:
        return 1
    elif random_num >= one_probability and random_num < three_probability:
        return 3
    elif random_num >= three_probability and random_num < two_probability:
        return 2
    else:
        return 0

dummy = generate_dummy_view_data()
df["view"].replace(np.NaN, dummy,inplace=True) #Interpolate values
#df.isna().sum()

#---Yr_Renovated---
df.groupby('yr_renovated')['id'].nunique()
df["yr_renovated"].replace(np.NaN, 0,inplace=True) #Replace with most common value (0)
df.isna().sum()


#---Sqft_Basement---
df["sqft_basement"].replace('?', np.NaN,inplace=True)
df['sqft_basement'] = df['sqft_basement'].astype('float64')
#df.info()

#with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    #print(df.groupby('sqft_basement')['id'].nunique())

df["sqft_basement"].replace(np.NaN, 0,inplace=True) #Replace with most common value (0)
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

### Checking for collinearity

In [ ]:
#---